<div class="container mt-5">
    <!-- 11. Adding a home page -->
    <div *ngIf="!registerMode" style="text-align: center;">
        <h1>Find your match</h1>
        <p class="lead">Come on in to view your matches... all you need to do is sign up!!</p>
        <div class="text-center">
            <!-- primary, lg: large, mr: margin right-->
            <!-- call registerToggle() in home.component.ts-->
            <button (click)="registerToggle()" class="btn btn-primary btn-lg mr-2" style="margin-right: 5px;">Register</button>
            <button class="btn btn-info btn-lg ">Learn more</button>
        </div>
    </div>
    <!-- 11. Adding a home page -->
    <div *ngIf="registerMode" class="container">
        <div class="row justify-content-center">
            <div class="col-4">
                <!-- call register.component.ts -->
                <!-- Adding a register form -->
                <!-- home got users from API -->
                <!--13. we want to pass property down to child component -->
                <!-- use [userFromHomeComponent] creaeted in register.component.ts -->
                <!-- "users" is property that inside home.components.ts--> 
                <!--we know "users" get back from API in home.components.ts-->
                <!-- when we are receiving data from a parent => use [] -->
                <!-- when we're sending data from a child => use () -->
                <!-- call a function inside our parent component -->
                <!-- when we click the button, will call cancelRegisterMode inside home.component.ts -->
                <!-- pass event ($event) then our cancelRegisterMode will receive that event from our child component-->
                <!-- that's is how we handle chile to parent communition -->
                <app-register  (cancelRegister)="cancelRegisterMode($event)"></app-register>
            </div>
        </div>
    </div>
</div>
