<!--12. Adding a register form -->
<!-- form is going to be angular template Form # -->
<form #regiterForm="ngForm" (ngSubmit)='register()' autocomplete="off">
    <h2 class="text-center text-primary">Sign up</h2>
    <hr>
    <div class="form-group">
        <!-- Angular uses this "name" property to track what's being entered into the form-->
        <input type="text" class="form-control" name="username"
         [(ngModel)]="model.username" placeholder="Username">
    </div>
   
    <div class="form-group">
        <!-- Angular uses this "name" property to track what's being entered into the form-->
        <input type="password" class="form-control" name="password"
         [(ngModel)]="model.password" placeholder="Password">
    </div>
    <!-- it's a form, we need buttons -->
    <div class="form-group text-center">
        <button class="btn btn-success mr-2" type="submit">Register</button>
        <button class="btn btn-default mr-2" (click)="cancel()" type="button">Cancel</button>
    </div>
    <!-- this is our form set up and compelete-->
</form>
