.dropdown-toggle, .dropdown-item{
    cursor: pointer; /* con tro khac khi tro vao wellcome user */
}
/*12. Adding the main photo image to the nav bar*/
img{
    max-height: 50px;
    border: 2px solid #fff;
    display: inline;
}
