<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
    <div class="container">
        <div class="container-fluid">
            <!-- routerLink='/' this is going to take us to our home component-->
            <a class="navbar-brand" routerLink='/' routerLinkActive='active'>Dating App</a>
            <!-- "*ngIf=loggedIn": only want to show these if a user is actually logged in -->
            <!-- (event) = function-->
            <!-- "*ngIf="ac.currentUser$ | async":showing if login is success (10. Using the async pipes)-->
            <ul class="navbar-nav mr-auto">
              <!-- we add that we want unauthenticated user to access-->
              <ng-container *ngIf="accountService.currentUser$ | async">
                <li class="nav-item">
                  <!-- routerLink "/" la can thiet -->
                  <!-- routerLinkActive='active' is highlight link-->
                  <a class="nav-link" routerLink='/members' routerLinkActive='active'>Matches</a>
                </li>
                <li class="nav-item">
                  <!-- Adding the nav links -->
                  <a class="nav-link" routerLink='/lists' routerLinkActive='active'>List</a>
                </li>
                <li class="nav-item">
                  <!-- Adding the nav links -->
                  <a class="nav-link" routerLink='/messages' routerLinkActive='active'>Messages</a>
                </li>
              </ng-container>   
              <li class="nav-item">
                <!-- Adding the nav links -->
                <a class="nav-link" routerLink='/errors' routerLinkActive='active'>Errors</a>
              </li>
            </ul>
            <!--*ngIf="loggedIn": showing if login success-->
            <!-- get dropdown: https://valor-software.com/ngx-bootstrap/dropdowns -->
            <!-- mt: margin top which bootstrap class, we can specify the amount-->
            <!-- "*ngIf="ac.currentUser$ | async":showing if login is success (10. Using the async pipes)-->
            <!-- "as user" use this property as the user inside our code -->
            <!-- we got out of our observable and it's usable as just our user-->
            <div class="dropdown" *ngIf="(accountService.currentUser$ | async) as user" dropdown>
              <a class="dropdown-toggle text-light" dropdownToggle>Wellcome {{user.username | titlecase}}</a>
              <div class="dropdown-menu mt-3" *dropdownMenu>
                <a class="dropdown-item">Edit Profile</a>
                <div class="dropdown-devider"></div>
                <a class="dropdown-item" (click)="logout()">Logout</a>
              </div>
            </div>
            <!-- "ngForm" it's going to be an Angular form-->
            <!-- (ngSubmit)="login() it's going to be an Angular submit -->
            <!-- "autocomplete" nho lai nhung lan dang nhap -->
            <!-- [(ngModel)]: 2 way binding 
              we can blind data or properties in nav.components.ts and display them in nav.component.html
              we can take data from nav.component.html (login, register) that's entered in a form and update smt inside our nav.component.ts
              check in console in browser when click button
            -->
            <!--[parenthese] used for receiving from our components and the parenthese are used when data goes the other way -->
            <!-- (event) = function -->
            <!--*ngIf="(currentUser$ | async)==null: showing if login isn't success (10. Using the async pipes)-->
            <form *ngIf="(accountService.currentUser$ | async)==null" #loginForm="ngForm" class="form-inline mt-2 mt-md-0"(ngSubmit)="login()" autocomplete="off">
                <input 
                  name="username"
                  [(ngModel)]="model.username"
                  class="form-control mr-sm-2" 
                  type="search" 
                  placeholder="Username">
                <input 
                  name="password"
                  [(ngModel)]="model.password"
                  class="form-control mr-sm-2" 
                  type="password"
                  placeholder="Password">
                <button class="btn btn-success my-2 my-sm-0" type="submit">Login</button>
            </form>
        </div>
    </div>
    
</nav>
